/*******************************************************************************
Custom Theme
-Vanshil Shah
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 2;
  width: 100%;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#eff;
  background: #373737;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#F37422;
  font:  'Calibri;
  letter-spacing: -1px;
}
h1 {
  font-size: 36px;
  font-weight: 100;
}

h2 {
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-size: 34px;
  font-weight: 100;
}

h4 {
  font-size: 22px;
  font-weight: 100;
}

h5 {
  font-size: 18px;
  font-weight: 100;
}

h6 {
  font-size: 16px;
  font-weight: 100;
}

a{
	text-decoration: none;
	color: #666;
}
a:hover, a:focus {text-decoration: underline;}
footer a {
  color: #226458;
  text-decoration: underline;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
.nav{
display: block;
position: fixed;
top: 0px;
height: 35px;
color: #fff;
padding: 0 0 0 175px;
}

.navButton{  
  padding: 5px 5px 5px 5px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  background:#FDC113; 
}
.navButton:hover, .navButton:focus {background:#FCE094;}

#sub_page{  
  width: 80%;
  min-width: 600px;
  max-width: 1400px;
  margin: 0px auto;
  background: #373737;
}
.sub_page_header{
  padding: 40px 0 5px 40px;
  color: #fff;
}
#no_underline_white{
	color: #fff;
	text-decoration: none;
	padding: 15px 5px 13px 5px;
}
#no_underline_black{
	color: #000;
	text-decoration: none;
}
#about{
  color: #000;  
  background: #E1E1E1;
}
#para_A{
  color: #000;
  float:center;
  font-weight: 100;
  font-size: 20px;  
  text-align: center;
  padding: 80px 200px 80px 250px;
  background: #EAEAEA;
}
#avatar_img{ 
  float: left;
  max-width: 150px;
  padding: 70px 10px 0 30px;
}
#projects{
  color: #fff;  
  background: #444;
}
#button_Container{
  width: 100%;
  min-width: 600px;
  max-width: 1400px;  
  color: #fff;  
  background: #444;
}
.project_Button{
	display: block;
	margin: 10px 10px 10px 10px;
	padding: 30px 30px 30px 30px;
	font-size: 26px;
	font-weight: 200;
	text-decoration: none;
	text-align: center;
	width: 150px;
	height: 150px;
	min-width: 150px;
	color: #fff;
}
#red{
	color: #fff;
	background: #e74c3c;
	text-decoration: none;
}
#red:hover, #red:focus {background:#f99;}
#red2{
	color: #fff;
	background: #e74c3c;
	text-decoration: none;
}
#blue{
	background: #3498db;
	text-decoration: none;
}
#blue:hover, #blue:focus {background:#3ef;}

#blue2{
	background: #3498db;
	text-decoration: none;
}

#green{
	background: #0d3	;
	text-decoration: none;
}
#green:hover, #green:focus {background:#bef;}
#orange{
	background: #f1c40f;
	text-decoration: none;
}
#orange:hover, #orange:focus {background:#ffd725;}
#orange2{
	background: #f1c40f;
	text-decoration: none;
}
#description{
	height: 150px;
	max-width: 150px;
	min-width: 150px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
	
}#description_red{
	max-width: 150px;
	min-width: 150px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
}
#para_P{
  color: #000;
  background: #EAEAEA;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 80px 200px 80px 250px;
  box-shadow: 0 0 10px #fff;
}
#experience{
  display: block;
  position: absoulte;
  color: #000;
  background: #E1E1E1;
}
.para_E{
  color: #000;
  background: #EAEAEA;
  font-weight: 100;
  text-align: left;
  padding: 0 0 0 80px;
}
#contact{
  color: #fff;  
  background: #444;
}
#contact_table{
	max-width: 950px;
	min-width: 950px;
	margin-top: 80px;
	margin-bottom: 80px;
}
#contact_img
  display: block;
  float: left;
  color: #fff;
  font-size: 30px;
  max-width: 200px;
  padding: 10px 20px 10px 20px;
  background: #444;
}
#contact_img:hover, #contact_img:focus {background:#555;}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
