/*******************************************************************************
Custom Theme
-Vanshil Shah
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 2;
  width: 100%;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#eff;
  background: #eff;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#F37422;
  font:  'Calibri;
  letter-spacing: -1px;
}

h1 {
  color:#F37422;
  background: EAEAEA;
  font-size: 36px;
  font-weight: 100;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 34px;
}

h4 {
  
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

footer p {
  color: #FFEBA6;
}
a{
	text-decoration: none;
	color: #aaa;
}
a:hover, a:focus {text-decoration: underline;}
footer a {
  color: #226458;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {

}

p img {
  display: inline;
  margin: 0;
  padding: 0 10px 0 10px;
  max-width: 200px;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
 }

th {
  font-family: 'Calibri';
  background: #FDC113;
  font-size: 20px;
  color: #fff;
 }
form {
  background: #FFEBA6;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}
.nav{
display: block;
position: fixed;
top: 40px;
height: 55px;
color: #fff;
padding: 0 0 0 275px;
background: rgb(253, 193, 19);
box-shadow: 0 0 7px rgb(246, 132, 33);
}

#navButton{  
  padding: 15px 5px 15px 5px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  background:#FDC113; 
}
#navButton:hover, #navButton:focus {background:#FCE094;}

#navButton2{  
  padding: 15px 5px 15px 5px;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  background:#FDC113; 
}

#sub_page{  
  max-width: 950px;
  min-width: 950px;
  margin: 0 auto;
  padding: 0 175px 0 175px;
  background: #eff;
}
#about{
  color: #000;  
  background: #E1E1E1;
  padding: 0 0 5px 20px;
  box-shadow: 0 0 10px #fff;
}
#para_A{
  color: #000;
  float:center;
  background: #EAEAEA;
  font-weight: 100;
  font-size: 150%;  
  text-align: center;
  padding: 80px 200px 80px 250px;
  box-shadow: 0 0 10px #fff;
}
#avatar_img{ 
  float: left;
  max-width: 150px;
  padding: 70px 10px 0 30px;
}
#projects{
  display: block;
  margin-top: 10px;
  position: absoulte;
  padding: 0 0 0 10px;
  color: #000;
  background: #E1E1E1;
  box-shadow: 0 0 5px #EAEAEA;
}
#button_Container{
  max-width: 950px;
  min-width: 950px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.project_Button{
	display: block;
	margin: 10px 10px 25px 10px;
	padding: 30px 30px 30px 30px;
	font-size: 26px;
	text-decoration: none;
	text-align: center;
	width: 150px;
	height: 150px;
	min-width: 150px;
}
#red{
	color: #fff;
	background: #f00;
	text-decoration: none;
}
#red:hover, #red:focus {background:#f88;}

#blue{
	color: #fff;
	background: #0cf;
	text-decoration: none;
}
#blue:hover, #blue:focus {background:#3ef;}
#green{
	color: #fff;
	background: #0d3	;
	text-decoration: none;
}
#green:hover, #green:focus {background:#bef;}
#orange{
	color: #fff;
	background: #fc1;
	text-decoration: none;
}
#orange:hover, #orange:focus {background:#fe4;}
#description{
	max-width: 150px;
	min-width: 150px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: 100;
}
#para_P{
  color: #000;
  background: #EAEAEA;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding: 80px 200px 80px 250px;
  box-shadow: 0 0 10px #fff;
}
#experience{
	display: block;
  margin-top: 10px;
  position: absoulte;
  padding: 0 0 0 10px;
  color: #000;
  background: #E1E1E1;
  box-shadow: 0 0 5px #EAEAEA;
}
#contact{
  display: block;
  margin-top: 10px;
  position: absoulte;
  padding: 0 0 0 10px;
  color: #000;
  background: #E1E1E1;
  box-shadow: 0 0 5px #EAEAEA;
}





























#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #FFEBA6;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
